$primary-color-master: #ff1d6c;
$primary-color-second: #ffb72c;
$primary-color-third: #007350;

$basic-color-white: #fff;
$basic-color-dark: #0d0b0c;
$basic-color-shadow: #0d0b0c57;
$basic-color-grey: #0d0b0c17;
